head {
    color: rgb(0, 0, 255);
}
body {
    background-color: rgb(202, 242, 205);
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 30px; 
}
.navbar {
    background-color: rgb(255, 120, 194);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: #003366;
    text-decoration: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
.navbar a:hover {
    color: rgb(69, 255, 227);
}
#xyz {
    color: rgb(0, 0, 255);
    font-size: 30px;
}
.section {
    margin: 30px;
    padding: 40px;
    background-color: rgb(195, 155, 255);
    border-radius: 20px;
    border: 2px solid rgb(137, 239, 255);
}
#about\ me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(254, 173, 173);
    border-radius: 20px;
    padding: 50px;
}
.images img{
    border-radius: 20px;
}
ol {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 204);
    border-radius: 10px;
}
.table {
    margin : 20px;
    padding : 20px;
}
.table th, .table td {
    border: 1px solid rgb(0, 0, 0);
    padding : 10px;
    text-align : left;
}
